version: '2'
services:
  web:
    image: yuicon/digag-server:latest
    ports:
     - "8080:8080"
    depends_on:
      - mysql
  mysql:
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD=root
    volumes:
      - "mysql_data:/var/lib/mysql"
volumes:
  mysql_data: